body{
    background-color: #616a47;
}

header{
    font-weight: center;
    text-align: center;
    margin: auto;
}

h1{
    color: white;
    background-color: #990000;
}

header span{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px; 
}

header span:hover{
    background-color: yellow;
}

#content {
    margin-top: 30px;
}

#content object{
    margin: auto;
    display: block;
    min-width: 70%;
    height:80%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  caption {
      font-size: 20px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:first-child {
      font-weight: bold;
  }